/*start variables*/
:root {
    --main-color: #10cab7
}

/*end variables*/
/*start components*/
.special-heading {
    text-align: center;
}

.special-heading h2 {
    font-size: 100px;
    font-weight: 800;
    color: rgba(211, 207, 207, 0.3);
    margin: 0;
}

.special-heading p {
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 100px;
    color: #545B6B;
}
@media (max-width: 1199px){
    .special-heading h2 {
        font-size: 50px;
    }
    .special-heading p {
        font-size: 10px;
        margin-top:-20px;
    }
}

/*end components*/

/*start global rules*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


.parent {
    background-color: #EEE;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*end global rules*/
/*start header*/

.header {
    padding: 20px
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 70px
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .icon span {
    background-color: #2B3C47;
    margin-bottom: 4px;
}

.header .links .icon span:first-child {
    height: 2px;
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    height: 2px;
    width: 50%;
    transition: .3s;

}

.header .links .icon span:last-child {
    height: 2px;
    width: 100%;

}

.header .links ul {
    margin: 0;
    right: 0;
    list-style: none;
    padding: 0;
    background-color: #F6F6F6;
    min-width: 200px;
    position: absolute;
    top: calc(100% + 20px);
    display: none;
}

.header .links:hover ul {
    display: block;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-color: transparent transparent #F6F6F6 transparent;
    width: 0px;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;

}

.header .links ul li a:hover {
    padding-left: 25px;

}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #DDD;
}

.landing {
    background: url("../images/mountain.jpg");
    background-size: cover;
    height: calc(100VH - 68px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 368px;
    max-width: 100%;
    text-align: center;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;


}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/*end header*/
/*features section*/

.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #EEE;

}

.feature .container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.feature .feat {
    padding: 20px;
    text-align: center;

}

.feature .feat i {
    color: var(--main-color);
}

.feature .feat i h3 {
    font-weight: 800;
    margin: 30px 0px;
}

.feature .feat i h3 {
    line-height: 1.8;
    font-size: 17px;
}

/*end features*/
/*start services*/
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.services .serv {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .services .serv {
        flex-direction: column;
        text-align: center;
    }

}

.services .serv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .serv i{
    color: var(--main-color);
    flex-basis: 60px;
}

.services .serv .text{
    flex:1;
}

.services .serv .text h2{
    margin: 0 0 20px;
}

.services .serv .text p{
    color: #777;
    line-height: 1.8;
    font-weight: 300;
}
.services .col .image {
    text-align: center;
    position: relative;
}
.services .col .image::before {
    content: "";
    background-color: blue;
    position: absolute;
    width: 50px;
    height: 120%;
    top:-23px;
    right: 0;
    z-index:-1;
}

.services .col .image img{
    width: 300px;
    justify-content: center;
}
@media (max-width: 1200px) {
    .services .col .image {
        display: none;
    }

}

/*end services*/

/*portfolio star*/
.portfolio {
    background-color: #EEEEEE;
}
.portfolio .container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.portfolio .text-area {
    background-color: white;
    padding: 20px;
    margin-bottom: 60px;
}
.portfolio .text-area h3 {
margin-bottom: 0px;
}
.portfolio .text-area p {
    margin-bottom: 0;
    line-height: 1.8;
}
.portfolio img{
    width:100%
}

/*start about*/
.about {
    padding-top:60px;
    padding-bottom:120px;
}
.about-content{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 767px){
    .about-content {
       flex-direction: column;
    }
}

.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about-content .image::before{
    content: "";
    position: absolute;
    background-color: red;
    height: 100%;
    width: 100px;
    top: -28.5px;
    z-index: -1;
    left: -10px;
}
.about-content .image::after{
    content: "";
    position: absolute;
    height: 60%;
    width: 100px;
    z-index: -1;
    right: -172px;
    top: -133px;
    border-bottom: 100px solid black;
    border-left: 100px solid;;
}

@media (max-width: 767px){
    .about-content .image {
        margin: 30px auto;
    }
}

.about-content .text-area {
    flex-basis: calc(100% - 500px);
}
/*end about*/
/*start contact*/
.contact {

    background-color: #EEE;
    }

.contact .contact-content h2 {
    color: blue;
}

.footer {
    background-color: black;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}